<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App - Home</title>

    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>

    <style>
         body {
            font-family:Arial, Helvetica, sans-serif;
            max-width: 800px;
            margin: auto;
            font-size: 16px;
         }
        
         .header {
            display: flex;
            justify-content: space-between;
            border: 1px solid #efefef;
            border-radius: 5px;
         }
         .header div{
            text-align: center;            
            padding: 1rem;
         }
         .header p { margin: 0 0 ;}

        .summary{ 
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .summary h3 {
            grid-column: 1 / 3;
        }

        .summary .col {
            margin: 0rem 1rem 0 1rem;            
            max-width: 500px;
        }
        p {  margin: 0 0; }

        .row { 
            display: grid;
            grid-template-columns: auto 150px;
        }

        .row-label { margin-right: 5px;}
        .row-value { border-bottom: 1px solid black; text-align: right;}

        .movs { padding: 1rem;}

        .movs-header { 
            background-color: gray;
            display: flex;
            justify-content: space-evenly;
            text-align: left;
        }
        .movs-header p{ width: 100%; }
        .movs-row {
            display: flex;
            justify-content: space-evenly;
        }
        .movs-row:nth-child(even) {
            background-color: #efefef;
        }

        .movs-row p, .movs-row div { width: 100%; }

        .movs-footer {
            text-align: right;
            border-top: 1px solid black;
            display: flex;
            justify-content: space-evenly;
        }
        .movs-footer p{
            width: 100%;
            text-align: left;
        }
        .plan {font-size: 14px; }
        .plan-header p, .plan-footer p { font-weight: 600;}
        .plan-header,.plan-row, .plan-footer{ 
            display: flex;
            justify-content: space-between;
        }
        
        .plan-row:nth-child(even) {
            background-color: #efefef;
        }
        
        .logo-container { width: 400px;}
         img { width: 100%; }        
         .txt-center{ text-align: center;}
         .txt-rigth{ text-align: right;}
         .fs-lg{ font-size: 18px;}
         .fs-sm{ font-size: 12px;}
         .wd5 { max-width: 5px;}
         .wd10 { width: 10px;}
         .wd15 { width: 15px;}
         .wd20 { width: 20px;}
         .wd30 { width: 30px;}
         .wd40 { width: 40px;}
         .wd50 { width: 50px;}
         .wd75 { width: 75px;}
         .wd100 { width: 100px;}
         .wd150 { width: 150px;}
         .wd250 { width: 250px;}
         .fw-bold { font-weight: bolder;}
         .chart-container{ margin: 2rem 2rem; }
         canvas {
            width:100%;
            max-width:700px;
            margin:auto;  
         }
         .footer {
            border: 1px solid gray;
         }

    </style>
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <img src={{logoImageFilePath}} >
        </div>
        <div>
            <p class="fs-lg fw-bold">CONSULTORES DE SERVICIOS VARIOS SA de CV SOFOM ENR</p>
            <p>SUR ORIENTE, CUARTA ORIENTE SUR NÚMERO 1449, COLONIA OBRERA, TUXTLA GUTIÉRREZ, CHIAPAS, CÓDIGO POSTAL 29080, TELÉFONO: 9616110990</p>
        </div>
    </div>

    <div class="summary">
            {{#with summaryA}}
            <h3 class="txt-center">Estado de Cuenta del {{fechaInicial}} Al {{fechaFinal}}</h3>
            <div class="col">
                    <div class="row"><p class="row-label">Número de Contrato:</p> <p class="row-value">{{numeroContrato}}</p></div>
                    <div class="row"><p class="row-label">Día y Hora de Reunión:</p> <p class="row-value">{{diaHoraReunion}}</p></div>
                    <div class="row"><p class="row-label">Fecha de Contrato:</p> <p class="row-value">{{fechaContrato}}</p></div>
                    <div class="row"><p class="row-label">Monto de Crédito:</p> <p class="row-value">{{montoCredito}}</p></div>
                    <div class="row"><p class="row-label">Saldo Inicial de Periodo:</p> <p class="row-value">{{saldoInicialPeriodo}}</p></div>
                    <div class="row"><p class="row-label">Saldo Final de Periodo:</p> <p class="row-value">{{saldoFinalPeriodo}}</p></div>
                    <div class="row"><p class="row-label">Fecha de Corte:</p> <p class="row-value">{{fechaCorte}}</p></div>
                    <div class="row"><p class="row-label">Nombre del Cliente:</p> <p class="row-value">{{nombreCliente}}</p></div>
                    <div class="row"><p class="row-label">Oficial de Crédito:</p> <p class="row-value">{{nombreOficial}}</p></div>
                    <div class="row"><p class="row-label">Plazo:</p> <p class="row-value">{{plazoCredito}}</p></div>
                    <div class="row"><p class="row-label">Fecha límite de Pago**:</p> <p class="row-value">{{fechaLimitePago}}</p></div>
            </div>
            {{/with}}

            <div class="col">
                {{#with summaryB}}
                    <div class="row"><p class="row-label fw-bold">CAT Sin IVA:</p> <p class="row-value fw-bold">{{cat}}</p></div>
                    <div class="row"><p class="row-label fw-bold">Tasa Ordinaria Anual FIJA:</p> <p class="row-value fw-bold">{{tasaInteres}}</p></div>
                    <div class="row"><p class="row-label fw-bold">Tasa Moratoria Anual:</p> <p class="row-value fw-bold">{{tasaMoratoriaAnual}}</p></div>
                    <div class="row"><p class="row-label fw-bold">Monto Total a Pagar en el Periodo:</p> <p class="row-value fw-bold">{{montoTotalPagarEnPeriodo}}</p></div>
                    <div class="row"><p class="row-label">Capital a Pagar:</p> <p class="row-value">{{capitalAPagar}}</p></div>
                    <div class="row"><p class="row-label">Interés a Pagar:</p> <p class="row-value">{{interesAPagar}}</p></div>
                    <div class="row"><p class="row-label">IVA a Pagar:</p> <p class="row-value">{{impuestaAPagar}}</p></div>
                    <div class="row"><p class="row-label">Interés Moratorio a Pagar:</p> <p class="row-value">{{interesMoratorioAPagar}}</p></div>
                    <div class="row"><p class="row-label">IVA Interés Moratorio a Pagar:</p> <p class="row-value">{{impuestoInteresMoratorioAPagar}}</p></div>
                    <div class="row"><p class="row-label">Saldo Insoluto del Capital:</p> <p class="row-value">{{saldoInsolutoCapital}}</p></div>
                    <div class="row"><p class="row-label">Seguro de Vida:</p> <p class="row-value">{{seguroVida}}</p></div>
                    <div class="row"><p class="row-label">Seguro saldo deudor:</p> <p class="row-value">{{seguroSaldoDeudor}}</p></div>
                {{/with}}
            </div>
            <h3 class="txt-center">Totales a la Fecha de Corte</h3>
            <div class="col">
                {{#with summaryC}}
                    <div class="row"><p class="row-label">Capital Vencido Pagado:</p> <p class="row-value">{{capitalVencidoPagado}}</p></div>
                    <div class="row"><p class="row-label">Interés Ordinario Pagado:</p> <p class="row-value">{{interesOrdinarioPagado}}</p></div>
                    <div class="row"><p class="row-label">IVA Interés Ordinario Pagado:</p> <p class="row-value">{{impuestoInteresOrdinarioPagado}}</p></div>
                    <div class="row"><p class="row-label">Intereses Moratorios Pagado:</p> <p class="row-value">{{interesesMoratoriosPagados}}</p></div>
                    <div class="row"><p class="row-label">IVA Intereses Moratorios Pagado:</p> <p class="row-value">{{impuestoInteresesMoratoriosPagados}}</p></div>
                    <div class="row"><p class="row-label fw-bold">Total Pagado:</p> <p class="row-value fw-bold">{{totalPagado}}</p></div>
                    <div class="row"><p class="row-label">Saldo Actual:</p> <p class="row-value">{{saldoActual}}</p></div>
                    <div class="row"><p class="row-label fw-bold">Saldo Actual (Capital):</p> <p class="row-value fw-bold">{{saldoActualCapital}}</p></div>
                    <div class="row"><p class="row-label">Intereses Ordinarios:</p> <p class="row-value">{{interesesOrdinarios}}</p></div>
                    <div class="row"><p class="row-label">IVA de Intereses Ordinarios:</p> <p class="row-value">{{impuestoInteresesOrdinarios}}</p></div>
                    <div class="row"><p class="row-label">Intereses Moratorios:</p> <p class="row-value">{{interesesMoratorios}}</p></div>
                    <div class="row"><p class="row-label">IVA de Intereses Moratorios:</p> <p class="row-value">{{impuestoInteresesMoratorios}}</p></div>
                    <div class="row"><p class="row-label">Comisiones:</p> <p class="row-value">{{comisiones}}</p></div>
                {{/with}}
            </div>
            <div class="col">
                {{#with summaryD}}
                    <div class="row"><p class="row-label">Capital Vencido No Pagado:</p> <p class="row-value">{{capitalVencidoNoPagado}}</p></div>
                    <div class="row"><p class="row-label">Interés Ordinario Vencido No pagado:</p> <p class="row-value">{{interesOrdinarioVencidoNoPagado}}</p></div>
                    <div class="row"><p class="row-label">IVA Intereses Ordinarios Vencido No Pagado:</p> <p class="row-value">{{impuestoInteresOrdinarioVencidoNoPagado}}</p></div>
                    <div class="row"><p class="row-label">Intereses Moratorios Generados No Pagado:</p> <p class="row-value">{{interesesMoratoriosGeneradosNoPagados}}</p></div>
                    <div class="row"><p class="row-label">IVA Intereses Moratorios Generados No Pagado:</p> <p class="row-value">{{impuestoInteresesMoratoriosGeneradosNoPagados}}</p></div>
                    <div class="row"><p class="row-label">Total Vencido No Pagado:</p> <p class="row-value">{{totalVencidoNoPagado}}</p></div>
                    <div class="row"><p class="row-label fw-bold">DA (Días Atraso):</p> <p class="row-value">{{DA}}</p></div>
                    <div class="row"><p class="row-label fw-bold">DAA (Días Atraso Acumulados):</p> <p class="row-value">{{DAA}}</p></div>
                    <div class="row"><p class="row-label">Monto de Cargos Objetados o en Aclaración:</p> <p class="row-value">{{montoCargosObjetadosAclaracion}}</p></div>
                    <div class="row"><p class="row-label">Folio de Reporte de Aclaración:</p> <p class="row-value">{{folioReporteAclaracion}}</p></div>
                {{/with}}
            </div>

    </div>

    <div class="movs">
            <h3 class="txt-center">Movimientos del Periodo</h3>
            <div class="movs-details">
                <div class="movs-header">
                    <p>No Transacción</p>
                    <p>Tipo Movimiento</p>
                    <p>Fecha</p>
                    <p>Monto</p>
                </div>
                
                {{#each movs}}
                    <div class="movs-row">
                    <p>{{this.no}}</p>
                    <div><p>{{this.origen}}</p><p>Capital</p><p>Interés</p><p>IVA</p><p>Interés Moratorio</p><p>IVA Interés Moratorio</p></div>
                    <p>{{this.fecha}}</p>
                    <div class="txt-rigth"><p>{{this.total}}</p><p>{{this.Capital}}</p><p>{{this.Interes}}</p><p>{{this.Impuesto}}</p><p>{{this.Interes_Moratorio}}</p><p>{{this.IVA_Interes_Moratorio}}</p></div>
                    </div>
                {{/each}}
                     
                </div>
    <div class="pplan">
        <h3 class="txt-center">Tabla de Amortizaciones Actual</h3>
        <div class="plan">
            <div class="plan-header">
                <p class="wd30">No</p>
                <p class="wd100">Fecha Inicio</p>
                <p class="wd100">Fecha Limite Pago</p>
                <p class="wd100">Fecha Pago</p>
                <p class="wd30">DA</p>
                <p class="wd40">DDA</p>
                <p class="wd100">Monto Base(1)</p>
                <p class="wd100">Capital</p>
                <p class="wd100">Interés</p>
                <p class="wd100">IVA</p>
                <p class="wd75">Pago Total</p>
            </div>
                {{#each pplan}}
                <div class="plan-row">
                    <p class="wd30">{{this.no}}</p>
                    <p class="wd100">{{this.fecha_inicio}}</p>
                    <p class="wd100">{{this.fecha_vencimiento}}</p>
                    <p class="wd100">{{this.fecha_pago}}</p>
                    <p class="wd30">{{this.dias_atraso}}</p>
                    <p class="wd40">{{this.dias_atraso_acumulados}}</p>
                    <p class="wd100">{{this.saldo_insoluto}}</p>
                    <p class="wd100">{{this.capital}}</p>
                    <p class="wd100">{{this.interes}}</p>
                    <p class="wd100">{{this.impuesto}}</p>
                    <p class="wd75">{{this.total}}</p>                            
                </div>
                {{/each}}
            </div>
        </div>
            <div class="plan-footer">
                    <p>Totales</p><p></p><p></p><p></p><p></p><p></p><p></p><p>$9,999.99</p><p>$999.99</p><p>$99.99</p><p>$1,999.99</p>                            
            </div>
        </div>
    </div>
    {{!-- Pie Chart --}}
    <div class="chart-container"><canvas id="myChart" ></canvas></div>
    {{!------------}}
QUE PENDIENTE TERMINAR FORMATO Y TOTALES
- CHECAR EXPRESIONES ENVIADAS POR FABIAN

    <div class="footer">
        <div class="footer-note">
            <p>* CONTRATAR CRÉDITOS QUE EXCEDAN SU CAPACIDAD DE PAGO AFECTAN SU HISTORIAL CREDITICIO.</p>
            <p>* EL AVALISTA, OBLIGADO SOLIDARIO O COACREDITADO RESPONDERÁ COMO OBLIGADO PRINCIPAL POR EL TOTAL DEL PAGO FRENTE A CONSERVA.</p>
            <p>**CUANDO LA FECHA CORRESPONDA A UN DÍA INHÁBIL BANCARIO, SE RECORRERÁ AL SIGUIENTE DÍA HÁBIL, SIN QUE PROCEDA EL COBRO DE COMISIONES O INTERESES MORATORIOS.</p>
            <p>IMPORTANTE: Usted Cuenta con 90 días naturales contando a partir de la fecha de corte para aclaraciones ante la empresa: Consultores de Servicios Varios, S.A. de C.V. SOFOM E.N.R. recibe las consultas, reclamaciones o aclaraciones en su unidad especializada de atención a usuarios ubicada en: AVENIDA Palma Corozo No. 415, Colonia Las Palmas CP. 29040, Tuxtla Gutiérrez, Chiapas. Tel. 9611213168 y 9611213229, 9616179300 ext. 103 javila@grupoconserva.mx www.conserva.org.mx y por correo electrónico o teléfono. Así como en cualquiera de las sucursales u oficinas. En caso de no tener una respuesta satisfactoria, podrá acudir a CONDUSEF: número telefónico 55 53 400 999 o lada sin costo 800 999 80 80, dirección de internet www.condusef.gob.mx.</p>
        </div>

    </div>
  
<script>
    var xValues = ["Capital Pendiente", "Capital Pagado", "Interes Pendiente", "Interes Pagado"];
    var yValues = [55, 49, 44, 24];
    var barColors = ["#b91d47","#00aba9","#2b5797","#e8c3b9","#1e7145"];    
    new Chart("myChart", {
    type: "pie",
    data: {
        labels: xValues,
        datasets: [{
        backgroundColor: barColors,
        data: yValues
        }]
    },
    options: {
        title: {
        display: true,
        text: "Linea de Crédito"
        }
    }
    });
</script>
</body>
</html>